{% extends "blogapp/base.html" %}
{% block title %}My Blog{% endblock %}
    {% block content %}
        {% if posts %}
            <ul>
                {% for post in posts %}
                    <li>Post: <a href="{% url 'blogapp:detail' post.id %}">{{ post.title }}</a></li>
                    <p><a href="{% url 'blogapp:update_post' post.id %}">Update this Post</a></h2></p>
                <hr>
                {% endfor %}
            </ul>

        {% else %}
            <p>No posts are available </p>
        {% endif %}
            <h2><a href="{% url 'blogapp:create_post' %}">Create Post</a></h2>
    {% endblock %}